<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

<title>Cadastro</title>
</head>
<body>
		<center>
	<h1>Página de Cadastro</h1>




	<form th:action="@{/cliente/salvar}" method="post"
		th:object="${cliente}">

		<br />

		<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
			<div th:each="e : ${#fields.detailedErrors()}">

				<span th:text="${e.message}" />

			</div>
		</div>


			<br /> <br /> <br /> 
			<label>ID: </label> 
			<input type="text" th:field="*{id}" readonly="readonly" /> <br> 
			<label>Nome:</label> 
			<input type="text" th:field="*{nome}" /> <br> 
			<label>CPF:	</label> 
			<input type="text" th:field="*{cpf}" /> <br> 
			<input type="submit" value="Enviar" />

	</form>

		</center>




</body>
</html>